@model IEnumerable<CustomShop.Web.Models.WebService.ShopOrderViewModel>

@{
    ViewData["Title"] = "WebService Data Page";
}

<div>
    <h1 class="display-4">WebService Data</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(x => x.City)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.SumNetto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SumNetto)
                </td>
            </tr>
        }
    </tbody>
</table>
